.idea/
data/
datafile_*.csv
__pycache__/

# don't store the model weights in the repository
models/torch_lstm/weights
models/torch_ann/weights
models/torch_simple/weights
models/keras_ann/model.h5

parameters.csv
scores.csv
