.idea/
data/
datafile_onehot.csv
datafile_ordinal.csv
datafile.csv
__pycache__/

# don't store the model weights in the repository
models/lstm/weights
models/ann/weights
models/simple/weights

parameters.csv
scores.csv
